<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Maria Maske<br /></h1>
        <p>I am data analyst with an insatiable curiosity and a passion for problem-solving with data and its insightful visualization.</p>
      </header>
<p>During my Data Analyst Career Foundry course, I gained experience with data cleaning and analysis using Excel, SQL, and Python. My curiosity drives me to uncover trends in data sets, and my creativity helps me interpret and communicate the results through effective storytelling in Tableau.
  Now I am excited about new opportunities to improve my skills.</p>
      <ul class="actions">
        <li><a href="{{ 'about.html' | absolute_url }}" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
